*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    margin: 40px 250px;
}
h1{
    text-align: center;
}
p{
    margin: 10px 250px;
}
.btn{
    height: 30px;
    width: 30px;
    display: inline-block;
    border-radius: 50%;
    border: 3px solid rgb(161, 71, 128);
    cursor: pointer;
}
#white{
    background-color: white;
}
#yellow{
    background-color: yellow;
}
#cyan{
    background-color: cyan;
}
#black{
    background-color: black;
}
#violet{
    background-color: #ce9aff;
}
#color-picker{
    text-align: right;
    margin: 30px 50px;
}

/* media query start */
@media screen and (min-width:320px) and (max-width:767px){
    body {
        height: 1300px;
        width: 1300px;
    }
    img {
        margin: 40px 140px;
    }
    p{
        margin: 10px 140px;
    }
}

@media screen and (min-width:768px)  and (max-width:1535px){
    body {
        height: 1150px;
        width: 1400px;
    }
    img {
       margin: 40px 200px;
    }
    p{
       margin: 10px 200px;
    }
}
/* media query end */
